<div class="span4">
  <div class="tile" style="<%= 'background-color:#16A085;color:white;' if r %>">
    <h3 class="tile-title"><%= title %></h3>
    <p><%= desc %></p>
    <div class="row">
      <div class="span2"><h4><span class="fui-calendar-solid"></span></h4></div>
      <div class="span1"><h4><%= m %></h4></div>
    </div>
    <div class="row">
      <div class="span2"><h4><span class="fui-time"></span></h4></div>
      <div class="span1"><h4><%= t %></h4></div>
    </div>
    <div class="row">
      <div class="span2"><h4><span class="fui-gear"></span></h4></div>
      <div class="span1"><h4><%= c %></h4></div>
    </div>
    <div class="row">
      <div class="span2"><h4><span class="fui-heart"></span></h4></div>
      <div class="span1"><h4><%= i %></h4></div>
    </div>
    <a class="btn btn-primary btn-large btn-block" href="http://designmodo.com/flat" style="margin-top:10px;">GO</a>
  </div>
</div>